*{
				padding: 0;
				margin: 0;
}
body {
				background: #d5dfff;
				background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.menu-bar{
				background: #ff9d00;
				text-align: center;
}
.menu-bar ul{
				display: inline-flex;
				list-style: none;
				color:#ee95ff;
				padding-left: 60px;
				flex: 0;
}
.menu-bar ul li{
				width: 120px;
				margin: 0px 20px;
				padding:15px;
}
.menu-bar ul li a{
				text-decoration: none;
				color: black;
}
h{
				position: fixed;
  width: 50%;
  bottom: 10px;
  color: #ff9d00;
}
h2{
				text-align: center;
				color: black;
}
p{
				text-align: center;
				color: #512bff;
}
img{
				width: 100%;
}
