*{
				padding: 0;
				margin: 0;
}
body {
				background-color: #aadfff;
				background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.menu-bar{
				background: #ff9d00;
				text-align: center;
}
.menu-bar ul{
				display: inline-flex;
				list-style: none;
				color:#ee95ff;
				padding-left: 60px;
				flex: 1;
}
.menu-bar ul li{
				width: 120px;
				margin: 0px 20px;
				padding:15px;
}
.menu-bar ul li a{
				text-decoration: none;
				color: black;
}
.active.menu-bar ul li: hover{
			border-radius: 3px;
			background: #aab5ff;
}
h1{
				color: #222222;
				text-align: center;
				font-size: 100px;
}
p{
				color: #7aff00;
				text-align: center;
				font-size: 50px;
}
h2{
				position: fixed;
  width: 50%;
  bottom: 10px;
  color: #ff9d00;
}  
.train{
				text-align: center;
				color: green;
				font-size: 100px;
}